bin/
dist/
client-dist/
build/
client-build/
*.log
*.log.*
.settings
.eclipse
executeLog*
*.pyc
*.class
productionLog
*~
.project
.classpath

# IDEs
nbproject/
nb-build.xml
.idea/
apache-tomcat*
prefixed
failures.list
*.jks
*.iml
out/
.gradle/